/*Reset*/
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: inherit;
	font-weight: 400;
	font-style: normal;
	font-size: inherit;
}
img, video, audio {display: block; width: 100%;}
html {margin-left: calc(100vw - 100%);}

/*Custom Typefaces*/
@font-face {
	font-family: 				"Linux Libertine";
	src: 						url("linlibertine_r.woff") format('woff');
	font-style: 				normal;
}
@font-face {
	font-family: 				"Linux Libertine";
	src: 						url("linlibertine_rb.woff") format('woff');
	font-weight:				700;
}
@font-face {
	font-family: 				"Linux Libertine";
	src: 						url("linlibertine_ri.woff") format('woff');
	font-style: 				italic;
}
@font-face {
	font-family: 				"Linux Biolinum";
	src: 						url("linbiolinum_r.woff") format('woff');
}
@font-face {
	font-family: 				"Linux Biolinum";
	src: 						url("linbiolinum_ri.woff") format('woff');
	font-style: 				italic;
}
@font-face {
	font-family: 				"Linux Biolinum";
	src: 						url("linbiolinum_rb.woff") format('woff');
	font-weight:				700;
}

/*Custom Properties*/
:root {
	--typeface-serif:			"Linux Libertine", serif;
	--typeface-sans:			"Linux Biolinum", sans-serif;
	--color-dark:				hsla(000, 000%, 27%, 1.0);
	--color-med:				hsla(000, 000%, 60%, 1.0);
	--color-light:				hsla(000, 000%, 98%, 1.0);
	--color-accent-dark:		hsla(000, 100%, 31%, 1.0);
	--color-accent-light:		hsla(043, 074%, 66%, 1.0);
	--smcp-letterfit:			0.05em;
	--content-width:			24rem;
	--symbol-size:				2em;
	--color-text:				var(--color-dark);
	--color-bg: 				var(--color-light);
	--color-link: 				var(--color-accent-dark);
	--layout-large:				1fr 0.65fr;
	--layout-small:				1fr;
	--site-layout:				var(--layout-large);
}

@media screen and (max-width: 52rem) {
	:root {--site-layout: var(--layout-small); padding: 0 1em;}
	main ol, main ul {padding-left: 1.5em;}
	main aside {font-size: 1em;}
}

@media (prefers-color-scheme: dark) {
	:root {
	--color-text: var(--color-light);
	--color-bg: var(--color-dark);
	--color-link: var(--color-accent-light);
	}
}

/*Grid Layout*/
body {
	display: grid;
	grid-gap: 2em;
	padding: 0 1em;
	min-height: 100vh;
	justify-content: center;
	align-content: space-between;
	grid-template-rows: repeat(3, auto);
}

body > header {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
nav li + li {margin-left: 1em;}
nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

body {
	margin: auto;
	padding: 1em 0;
	max-width: calc(var(--content-width) * 2);
}

main {
	display: grid;
	grid-gap: 4em;
	justify-content: center;
	grid-template-columns: var(--site-layout);
}
main article:only-child {
	max-width: 26rem;
	justify-self: center;
	grid-column: 1 / span 2;
}

main article[data-wide]:only-child {
	max-width: 100%;
	width: 90vh;
	grid-column: 1 / span 3;
}

/*Header*/
body > header a {text-decoration: none;}
body > header nav a:hover {
	text-decoration: underline;
}
/*Footer*/
body > footer {margin: 0 auto; text-align: right;}
main footer {margin-top: 1em;}
/*Figures*/
figure {margin: 2rem 0 1.5rem;}
/*Lists*/
nav ul {list-style: none;}
main ul {list-style: square outside;}
::marker {color: var(--color-text);}
:not(h2):not(summary) + ul, :not(h2):not(summary) + ol {margin: 0.5em 0;}
h2 + ul, h2 + ol {margin-bottom:1em;}
main li:not(:last-child), main dd:not(:last-child) {
	margin-bottom: 0.5em;
}
/*Type*/
:root {
	line-height: 1.5;
	font-size: 19px;
	color: var(--color-text);
	background-color: var(--color-bg);
	font-family: var(--typeface-serif);
	font-feature-settings: "liga" 1, "dlig" 1, "onum" 1, "calt" 1, "kern" 0;
}
h1 {
	font-size: 2em;
	line-height: 0.75;
	margin-bottom: 1rem;
}
h2, h3 {
	line-height: 1;
	margin: 1em auto 0.5em;
}
header + p {margin-top: 1rem;}
p {hyphens: auto;}
p + p {text-indent: 2em;}
blockquote {padding: 1em 1.5em;}
/*Small Text*/
small {display: block; line-height: 1;}
aside, footer, small, blockquote, figcaption, footer, summary::after {font-size: 0.85em;}
/*Sans-Serif*/
h2, h3, caption, figcaption, footer, summary::after {font-family: var(--typeface-sans);}
/*Small Caps*/
h1, b, abbr, figcaption::before {
	font-feature-settings: "smcp" 1, "c2sc" 1, "onum" 1;
	letter-spacing: var(--smcp-letterfit);
}
/*Bold*/
h2, h3, strong {font-weight: 700;}
/*Italics*/
header p {font-style: italic;}
em, i, q, cite {
	font-style:; italic;
	line-height: 1rem;
}
main a[href] {
	text-decoration: underline;
	text-decoration-color: var(--color-med);
	color: var(--color-link);
}
::selection{background-color: var(--color-dark); color: var(--color-light);}
summary {cursor: pointer; margin: 0.5em 0;}
details {margin: 1em 0;}
details:not([open]) summary::after {content: "[show]";}
details[open] summary::after {content: "[hide]";}
summary::after {opacity: 0.5; display: inline-block; text-align: center; width: 4em; }
hr {opacity: 0.1; margin: 2em 0;}
video {object-fit: cover;}

/*SVG Logo*/
/*#peace g {filter: url(#melt);}*/
svg#peace {
	overflow: visible;
	fill: none;
	stroke-width: 1em;
	margin-bottom: 1em;
	width: var(--symbol-size);
	height: var(--symbol-size);
	stroke: var(--color-accent-light);
	width: var(--symbol-size);
	height: var(--symbol-size);
}

figure img {
	margin-bottom: 0.25em;
}

audio {
	height: 1.5em;
}
