@charset "UTF-8";

/* Green: #4edfc0 | Blue: #0011a0 | Gray: #e9e9e9 | Cream: #f4dfdc | */

$green: #4edfc0;
$blue: #0011a0;
$red: #cc2b30;
$gray: #e9e9e9;
$cream: rgb(232, 226, 209);
$tea: #e6d4ae;
$beige: #e9dbc8;

$pattern-fill: $tea;

%dot {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='6' height='6'><rect width='6' height='6' fill='transparent'/><rect x='0' y='0' width='1' height='1' fill='#{$pattern-fill}' /></svg>");
}

%stripe {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><rect width='10' height='10' fill='transparent'/><path d='M-1,1 l2,-2	M0,10 l10,-10 M9,11 l2,-2' stroke='#{$pattern-fill}' stroke-width='1'/></svg>");
}

%square {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><rect width='10' height='10' fill='transparent'/><rect x='0' y='0' width='7' height='7' fill='#{$pattern-fill}' /></svg>");
}



* {
	box-sizing: border-box;
}

html {
	font-size: 1.25rem;
}

body {
	padding: 0.5rem;
	color: #000;
	background-color: $tea;
}



header[role="banner"] {
	margin-bottom: 3em;

	h1 {
		font-size: 1.5em;
		display: inline; 
		background-color: #000;
		border: 0.125em solid black;
		color: $tea;
		&::after {
			content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250'><g fill='transparent' stroke-width='1.5em' stroke='#{$pattern-fill}'><circle cx='125' cy='125' r='106' /><path  d='M125,19 v212 M125,125 l-75,75 M125,125 l75,75'/></g></svg>");
			display: inline-block;
			width: 1em;
			height: 1em;
			padding: 0 0.0625em 0 0.25em;
			vertical-align: bottom;
		}
	}

	p {
		margin: 0.25em 0 0;
	}
}



nav {
	padding-bottom: 0.5rem;
	// border-bottom: 0.1rem solid black;
}

nav ul {
	list-style: none; 
	padding: 0; 
	margin: 0.25rem 0 0;
}

nav li {
	display: inline-block;
	margin: 0;
}

nav li + li {
	margin-left: 0.5em;
}

nav a {
	// text-decoration: none;
	&.active {
		text-decoration: none;
	}
}

::selection {
	background-color: #000;
	color: $tea;
}


article {
	counter-reset: figure;
}


article header p {
	font-size: 1.5rem;
	margin: 0.25em auto 0;
    line-height: 1.2;
}

article header h1 {

	margin: 0 auto;
}

article header {
	max-width: 42em;
	margin: 0 auto 2em;
	padding: 1rem;
	border-bottom: 0.1rem solid black;
	
}



article section, article footer {
	max-width: 32em;
	padding: 0 1rem;
	margin: 0 auto 1em;
}



a {
	color: inherit;
	&:hover {
		color: $blue;
	}
}



h1, h2, h3 {
	font-size: 1em;
	font-weight: 400;
	line-height: 1;
	margin: 0 auto;
}

h1 {
	font-size: 2.5rem;
	line-height: 1.125;
}

h2 {
	font-size: 2rem;
	margin: 3rem auto 0;
}

h3, h4 {
	font-size: 1rem;
	font-style: italic;
}



p {
	line-height: 1.4;
}



ul {
	list-style-type: square;
}


dd {
	margin: 0.5em 0 1em 2em;
}

figure img, audio {
	display: block;
	width: 100%;
}

img { 
	image-rendering: pixelated; 
}

figure {
	counter-increment: figure;
}

figcaption {
	margin-top: 0.25em;
	font-size: 0.85em;
	&::before {
		content: "Figure " counter(figure) ": ";
	}
}

article footer {
	padding-top: 1em;
	border-top: 0.1em solid black;
}

article footer nav {
	display: flex;
	justify-content: space-between;
}



[rel="prev"]{
	margin-left: auto;
	padding-left: 0.25em;
	&::after {
		content: "\00a0\2192";
	}
}

[rel="next"]{
	margin-right: auto;
	padding-right: 0.25em;
	&::before {
		content: "\2190\00a0";
	}
}

footer[role="contentinfo"] {
	text-align: center;
}


.notes a {
	font-size: 1.25rem;
}